menu "WAMR Configuration"

    config WAMR_APP_FRAMEWORK
        bool "Enable App Framework of WAMR"
        default n
        help
            For WAMR's App Framework support, please refer to WAMR's documents.

    if WAMR_APP_FRAMEWORK
        config WAMR_APP_FRAMEWORK_EXPORT_REQUEST_RESPONSE
            bool "export on_request & on_response"
            default n
            help
                Export on_request & on_response, which will be used by runtime. If you use
                request module of WAMR's app-framework, use functins: `api_register_resource_handler`
                & `api_send_request`, you need to enable this option.

        config WAMR_APP_FRAMEWORK_EXPORT_TIMER
            bool "export on_timer_callback"
            default n
            help
                Export on_timer_callback, which will be used by runtime. If you use timer
                module of WAMR's app-framework, use function: `api_timer_create`, you need
                to enable this option.
    endif

    menu "Extended Libc Configuration"
        config WAMR_EXTENDED_LIBC_ERRNO
            bool "Enable \"errno\""
            default n
            depends on COMPILER_WASI_NO_USE_STDLIB
            help
                Select this option, then function "libc_builtin_set_errno" will be exported
                for runtime to call.
                Set this option when you use libc_builtin and open/read/write/close/... APIs.
                Otherwise, you can disable this option to reduce the size of WASM application.

        config WAMR_EXTENDED_LIBC_IOCTL
            bool "Enable Extended \"ioctl\""
            default y
            depends on COMPILER_WASI_NO_USE_STDLIB
            help
                Select this option, then extended "ioctl" is enable, users can use peripheral
                VFS drivers' ioctl function, and input structure's members are transformed to
                data sequence to avoid issue of passing structure pointer to runtime directly.


        menu "Peripherals of Standard I/O"
            depends on WAMR_EXTENDED_LIBC_IOCTL

            config IOCTL_GPIO
                bool "GPIO"
                default y
                help
                    Select this option, then users can use GPIO command in function "ioctl".

            config IOCTL_I2C
                bool "I2C"
                default y
                help
                    Select this option, then users can use I2C command in function "ioctl".
    endmenu
    endmenu
endmenu